{% extends "layout.html" %}
{% block content %}
<script src="https://www.amcharts.com/lib/3/radar.js"></script>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <div id="chartradar"></div>
        </div>
        <div class="col-md-6">
            <div class="row">
                {% for item in info %}
                <h2>{{item.personaname}}</h2>
                <div class="portfolio-item">
                    <img class="img-responsive" src="{{item.avatarfull}}" alt="">
                </div>
                {% endfor %}
                <p>Last Hits: {{last_hits}} (Average)</p>
                <p>Denies: {{denies}} (Average)</p>
                <p>Gold spent: {{gold_spent}} (Average)</p>
                <p>Avg Level: {{avg_lv}} (Average)</p>
                <p>Kills: {{kills}} (Average)</p>
                <p>Deaths: {{deaths}} (Average)</p>
                <p>Assists: {{assists}} (Average)</p>
                <p>Gold per min: {{gold_per_min}} (Average)</p>
                <p>XP per min: {{xp_per_min}} (Average)</p>
                <h4>Most plays hero</h4>
                <div class="heroes portfolio-item">
                    <img style="float:left" class="img-responsive hero-avatar" src="{{ url_for('static', filename='heroes/axe.png') }}" alt="">
                    <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                    <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="star-primary">
            <div class="player-roles text-center">Carry</div>
            <div class="player-roles text-center"><h4>Recommend Heroes</h4></div>
            <div class="heroes portfolio-item">
                <img style="float:left" class="img-responsive hero-avatar" src="{{ url_for('static', filename='heroes/axe.png') }}" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
            </div>
        </div>
    </div>
</div>

<script>
current_url = $(location).attr('pathname');
split = current_url.split("/");
url = '/player/get/radar/' + split[3];

var chart = AmCharts.makeChart( "chartradar", {
  "type": "radar",
  "theme": "light",
  "dataLoader": {
      "url": url
  },
  "valueAxes": [ {
    "axisTitleOffset": 20,
    "minimum": 0,
    "axisAlpha": 0.15
  } ],
  "startDuration": 2,
  "graphs": [ {
    "balloonText": "[[value]]",
    "bullet": "round",
    "lineThickness": 2,
    "valueField": "value"
  } ],
  "categoryField": "skill",
  "export": {
    "enabled": true
  }
} );
</script>
{% endblock %}
