{% extends "layout.html" %}
{% block content %}
<script src="https://www.amcharts.com/lib/3/radar.js"></script>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <div id="chartradar"></div>
        </div>
        <div class="col-md-6">
            <div class="row">
                {% for item in info %}
                <h2>{{item.personaname}}</h2>
                <div class="portfolio-item">
                    <img class="img-responsive" src="{{item.avatarfull}}" alt="">
                </div>
                {% endfor %}
                <p>Last Hits: </p>
                <p>Denies: </p>
                <p>Gold spent: </p>
                <p>Avg Level: </p>
                <p>Kills: </p>
                <p>Deaths: </p>
                <p>Assists: </p>
                <p>Gold per min: </p>
                <p>XP per min: </p>
                <h4>Most plays hero</h4>
                <div class="heroes portfolio-item">
                    <img style="float:left" class="img-responsive hero-avatar" src="{{ url_for('static', filename='heroes/axe.png') }}" alt="">
                    <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                    <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="star-primary">
            <div class="player-roles text-center">Carry</div>
            <div class="player-roles text-center"><h4>Recommend Heroes</h4></div>
            <div class="heroes portfolio-item">
                <img style="float:left" class="img-responsive hero-avatar" src="{{ url_for('static', filename='heroes/axe.png') }}" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
                <img style="float:left; padding-left: 10px" class="img-responsive hero-avatar" src="http://placehold.it/150x150" alt="">
            </div>
        </div>
    </div>
</div>

<script>
var chart = AmCharts.makeChart( "chartradar", {
  "type": "radar",
  "theme": "light",
  "dataProvider": [ {
        "skill": "Fighting",
        "litres": 156.9
      }, {
        "skill": "Farming",
        "litres": 131.1
      }, {
        "skill": "Supporting",
        "litres": 115.8
      }, {
        "skill": "Pushing",
        "litres": 109.9
      }, {
        "skill": "Versatility",
        "litres": 108.3
      } ],
  "valueAxes": [ {
    "axisTitleOffset": 20,
    "minimum": 0,
    "axisAlpha": 0.15
  } ],
  "startDuration": 2,
  "graphs": [ {
    "balloonText": "[[value]]",
    "bullet": "round",
    "lineThickness": 2,
    "valueField": "litres"
  } ],
  "categoryField": "skill",
  "export": {
    "enabled": true
  }
} );
</script>
{% endblock %}
